<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/nav') %>
  <%- include('demo-shell') %>
  <%- include('../partials/footer') %>
</body>
</html>
