<nav class="navbar">
  <div class="container">
    <a href="/" class="logo">UpscalerJS APIs</a>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/api-docs">Swagger Docs</a></li>
    </ul>
  </div>
</nav>
